
.btn.btn-circle {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
  text-align: center;
  padding: 0;
  border-radius: 50%;
    background-color: #FFEB3B;
    border-color:#FFEB3B ;
}

.row{
    padding : 2%;
}

img{
    height: 100px;
}
body{
  background-color :#C0C0C0;
}