
.container{
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  border: 0;
  transform: translateY(-50%);
  width: 40%;
}

.bg {
  /* The image used */
  background-color: rgba(103,200,167,80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card-title{
  text-align: center;
}

.loginContainer{
  padding: 0 5% ;
}


.loginButton{
  width: 40%;
  text-align: center;
  margin-left: 25%;
}

.form-group > label{
  font-weight: 500;
}