
{% extends "base.html" %}
{% block content %}

<!-- <div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div style="text-align: center;">
			<h4>ABOUT US </h4>
			<p>content</p>
		</div>
	</div>
</div> -->
<h4 style="margin-top: 10px;">ABOUT US</h4>
<hr>
<p style="font-size: x-large;
    font-style: italic;">
	This is a coding platform developed to help coders all over the world to track their as well as others programming progress.
    This will help them to judge where they stand in the outsider world.
</p>
<h5 style="margin-top: 60px;">OUR TEAM MEMBERS</h5>
<hr>
<div  class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card" style="width: 200px;">
			<div class="card-body">
				 <img style="height: 180px;width: 100%;" src="../../static/image/vandita.jpg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Vandita Singh</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card" style="width: 200px;">
			<div class="card-body">
				 <img style="height: 180px;width: 100%;" src="../../static/image/saloni.jpeg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Saloni Tyagi</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card" style="width: 200px;">
			<div class="card-body">
				 <img style="height: 180px;width: 100%;" src="../../static/image/shruti.jpeg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Shruti Mittal</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}