
{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div style="text-align: center;">
			<h4>ABOUT US </h4>
			<p>content</p>
		</div>
	</div>
</div>
<h5>OUR TEAM MEMBERS</h5>
<hr>
<div  class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card">
			<div class="card-body">
				 <img style="height: 230px;" src="../../static/image/vandita.jpg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Vandita Singh</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card">
			<div class="card-body">
				 <img style="height: 230px;" src="../../static/image/vandita.jpg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Saloni Tyagi</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3">
		<div class="card">
			<div class="card-body">
				 <img style="height: 230px;" src="../../static/image/vandita.jpg" >
			</div>
			<div class="card-footer">
				<div class="float-right">Shruti Mittal</div>
			</div>
		</div>
	</div>

</div>


{% endblock %}