{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="card">
			<div class="card-header" style="text-align: center;">You have Added</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table  table-hover ">
						<thead class="card-header">
						  <tr>
						    <th>Name</th>
						    <th>Action</th>
						  </tr>
						</thead>
						<tbody>
							<tr id="saloni-1">
								<td>Saloni Tyagi</td>
								<td >
									<button class="btn btn-info btn-circle m-1" onclick ="hide('saloni-1')">
						    		<i class="fa fa-user-times" aria-hidden="true"></i>
						    	</button>
						    </td>
						  </tr>
						  <tr id="shruti-1">
						    <td>Shruti Mittal</td>
						    <td>
						    	<button class="btn btn-info btn-circle m-1"  onclick ="hide('shruti-1')">
						    		<i class="fa fa-user-times" aria-hidden="true"></i>
						    	</button>
						    </td>
						  </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="card">
			<div class="card-header"  style="text-align: center;">Who added you</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table  table-hover ">
						<thead class="card-header">
						  <tr>
						    <th>Name</th>
						    <th>Action</th>
						  </tr>
						</thead>
						<tbody>
						  <tr id="saloni">
						    <td>Saloni Tyagi</td>
						    <td >
						    	<button class="btn btn-info btn-circle m-1" onclick ="hide('saloni')">
						    		<i class="fa fa-user-times" aria-hidden="true" ></i>
						    	</button>
						    </td>
						  </tr>
						  <tr id="shruti">
						    <td>Shruti Mittal</td>
						    <td>
						    	<button class="btn btn-info btn-circle m-1"  onclick ="hide('shruti')">
						    		<i class="fa fa-user-times" aria-hidden="true"></i>
						    	</button>
						    </td>
						  </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}