{% extends "base.html" %}
{% block content %}

<div class="center">
    <div class="row">
    <table class="centered">
        <tbody>
        <tr>
            <th>
                <strong><b>Vandita Singh</b></strong>
            </th>
            <th>
                <button class="btn btn-success btn-circle m-1"><i class="fa fa-university"></i></button>

            </th>
        </tr>
        </tbody>
    </table>
   </div>
    <div class="row center">
        <table class="centered">
            <tbody>
            <tr>
                <th>
                   <a target="_blank" class="tooltipped profile-page-site-profile-url"  href="https://www.codechef.com/users/vandita_1081">
                    <div class="chip" id="codechef_chip">
                        <img src="../../static/image/codechef_logo.png" alt="CodeChef">

                    </div>
                    </a>
                </th>
                <th>
                   <a target="_blank" class="tooltipped profile-page-site-profile-url"  href="https://www.codeforces.com/profile/vandita_1081">
                   <div class="chip" id="codeforces_chip">
                      <img src="../../static/image/codeforces_logo.png" alt="CodeForces">

                    </div>
                    </a>
                </th>
                <th>
                   <a target="_blank" class="tooltipped profile-page-site-profile-url"  href="https://www.hackerrank.com/vandita_singh30">
                   <div class="chip" >
                      <img src="../../static/image/hackerrank_logo.png" >

                    </div>
                    </a>
                </th>
                <th>
                   <a target="_blank"  class="tooltipped profile-page-site-profile-url"  href="https://www.hackerearth.com/@vandita14">
                   <div class="chip" >
                      <img src="../../static/image/hackerearth.png" alt="CodeForces">

                    </div>
                    </a>
                </th>
            </tr>
            </tbody>
        </table>


    </div>
</div>

{% endblock %}