{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class="card" style="min-width: 100%;">
		<div class="card-header" style="text-align: center;"><h5>Leaderboard</h5></div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table  table-hover ">
					<thead class="card-header">
					  <tr>
					    <th>Rank</th>
					    <th>Country</th>
					    <th>Name</th>
					    <th>Stopstalk Handle</th>
					    <th>Institue</th>
					    <th>Rating</th>
					  </tr>
					</thead>
					<tbody>
					 <tr>
					    <td>1123</td>
					    <td>India</td>
					    <td>vandita singh</td>
					    <td>vandita_1081</td>
					    <td>ABES Engineering college
					    </td> 
					    <td>1323</td>
					  </tr>
				      <tr>
					    <td>1123</td>
					    <td>India</td>
					    <td>vandita singh</td>
					    <td>vandita_1081</td>
					    <td>ABES Engineering college
					    </td> 
					    <td>1323</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}