{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class="card" style="min-width: 100%;">
		<div class="card-header" style="text-align: center;">To Do List</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table  table-hover ">
					<thead class="card-header">
					  <tr>
					    <th>Problem</th>
					    <th>Site</th>
					    <th>Total Submissions</th>
					    <th>Remove</th>
					  </tr>
					</thead>
					<tbody>
					 <tr>
					    <td><a href="">Problem 1</a></td>
					    <td>Codechef</td>
					    <td>1213</td>
					    <td>
					    	<button class="btn btn-danger btn-circle m-1">
					    		<i class="fa fa-times" aria-hidden="true"></i>
					    	</button>
					    </td>
					  </tr>
					  <tr>
					    <td><a href="">Problem 2</a></td>
					    <td>Codeforces</td>
					    <td>1213</td>
					    <td>
					    	<button class="btn btn-danger btn-circle m-1">
					    		<i class="fa fa-times" aria-hidden="true"></i>
					    	</button>
					    </td>
					  </tr>
					  <tr>
					    <td><a href="">Problem 3</a></td>
					    <td>Codeforces</td>
					    <td>2324</td>
					    <td>
					    	<button class="btn btn-danger btn-circle m-1">
					    		<i class="fa fa-times" aria-hidden="true"></i>
					    	</button>
					    </td>
					  </tr>
					   <tr>
					    <td><a href="">Problem 4</a></td>
					    <td>Codeforces</td>
					    <td>3545</td>
					    <td>
					    	<button class="btn btn-danger btn-circle m-1">
					    		<i class="fa fa-times" aria-hidden="true"></i>
					    	</button>
					    </td>
					  </tr>
					   <tr>
					    <td><a href="">Problem 5</a></td>
					    <td>Codeforces</td>
					    <td>124</td>
					    <td>
					    	<button class="btn btn-danger btn-circle m-1">
					    		<i class="fa fa-times" aria-hidden="true"></i>
					    	</button>
					    </td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}